.MoviesListMain{
    position: absolute;
    top: 70vh;
    height: auto;
    width: 100vw;
    z-index: 2;
    
  background-color: rgb(0, 0, 0);
}

.MoviesListHeader{
    position: relative;
    top: 10vh;
    height: 10vh;
    text-indent: 3vw;
    color: rgba(219, 219, 219, 0.833);
    z-index: 2;
    cursor:default;
}

.MoviesContainer{
    position: relative;
    top: 10vh;
    display: flex;
    left: 0vw;
    width: 85vw;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 3vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1vh;
    background-color: rgba(0, 0, 0, 0);
    
}

.MoviesListMap{
    display: flex;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    width: 99vw;
    row-gap: 5vw;
    height: auto;
    column-gap: 3vh;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    
}
.MovieListPaper{
    background-color: rgba(0, 0, 0, 0);
}
@media screen  and (max-width:10vw) {
    .MoviesListMap{
        width: 40%;
    }
}
@media screen and (max-width:40vw) {
    .moviesContainerList{
        width: 90%;
    }
}
.moviesContainerList{
    position: relative;
    display: flex;
    border-radius: 22px;
}

.FooterClass{
    position: relative;
    display: block;
    margin-top: 30vh;
    width: 99.5vw;
    height: 10vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgba(219, 219, 219, 0.833);
    display: block;
    overflow: hidden;
    cursor: default;
}

.playBtnPng{
    display: none;
    position: absolute;
    width: 2vw;
    height: 2vw;
    left: 4vw;
    top: 12vh;
    z-index: 5;
}


.movieMainListdiv{
    display: flex;
    position: relative;
    background-color: black;
    z-index: 3;
    align-items:flex-start;
}

.movieMainListdiv:hover{
    transform: scale(1.3);
    z-index: 30;
}


.movieMainListdiv:hover button {
    display: block;
}


.MovieDetails{
    width: 13vw;
    height: 31.2vh;
    background-color:rgba(32, 32, 32, 0.833);
    color: aliceblue;
    text-align: start;
    font-size: 0.8vw;
    position: relative;
    padding: 2.5%;
    word-wrap: break-word;
    text-align-last:left;
    border-radius: 0px 22px 22px 0px;
    z-index: 1;
}
button {
    display: none;
    position: absolute;
    align-items: end;
    vertical-align: bottom;
    height: 4vh;
    
}
button:hover{
    background-color: rgb(96, 150, 242);
}
.ReviewButtonCSS{
    background-color: black;
    color: white;
    border: 1px solid #646464;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    left: 12vw;
    width: 10vw;
    top: 25vh;
    z-index: 4;
}

.PlayButtonCSS{
    background-color: black;
    color: white;
    border: 1px solid #646464;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    left: 12vw;
    width: 10vw;
    top: 19vh;
    z-index: 4;
}