.MoviesListMain{
    position: absolute;
    top: 70vh;
    height: 100vh;
    width: 99.5vw;
    overflow: hidden;
    z-index: 2;
    
  background-color: black;
}

.MoviesListHeader{
    position: relative;
    top: 10vh;
    height: 10vh;
    text-indent: 3vw;
    color: rgba(219, 219, 219, 0.833);
    z-index: 2;
}

.MoviesContainer{
    position: relative;
    top: 10vh;
    display: flex;
    left: 0vw;
    width: 99.5vh;
    height: 100vh;
    margin: 3%;
    background-color: rgba(0, 0, 0, 0);
}

.MoviesListMap{
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    width: 80vw;
    height: 30vh;
    column-gap: 1vh;

    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
@media screen  and (max-width:99.5vw) {
    .moviesContainerList{
        width: 40%;
    }
}
@media screen and (max-width:40vw) {
    .moviesContainerList{
        width: 90%;
    }
}
.moviesContainerList{

}
.FooterClass{
    position: relative;
    width: 99.5vh;
    height: 10vh;
    z-index: 10;
    display: block;
    background-color: rgb(250, 235, 215);
}