.MoviesListMain{
    position: absolute;
    top: 70vh;
    height: auto;
    width: 100vw;
    z-index: 2;
    
  background-color: rgb(0, 0, 0);
}

.MoviesListHeader{
    position: relative;
    top: 10vh;
    height: 10vh;
    text-indent: 3vw;
    color: rgba(219, 219, 219, 0.833);
    z-index: 2;
}

.MoviesContainer{
    position: relative;
    top: 10vh;
    display: flex;
    left: 0vw;
    width: 85vw;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 3vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1vh;
    background-color: rgba(0, 0, 0, 0);
}

.MoviesListMap{
    display: flex;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    width: 99vw;
    row-gap: 5vw;
    height: auto;
    border: none;
    column-gap: 3vh;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.MovieListPaper{
    background-color: rgba(0, 0, 0, 0);
}
@media screen  and (max-width:10vw) {
    .MoviesListMap{
        width: 40%;
    }
}
@media screen and (max-width:40vw) {
    .moviesContainerList{
        width: 90%;
    }
}
.moviesContainerList{
    position: relative;
    display: block;
}
.moviesContainerList:hover{
    transform: scale(1.2);
    z-index: 3;
}
.FooterClass{
    position: relative;
    display: block;
    margin-top: 50vh;
    width: 99.5vw;
    height: 10vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgba(219, 219, 219, 0.833);
    display: block;
    overflow: hidden;
}